.payment-success {
    .mail-note,
    .success-summary {
        max-width: 520px;
    }

    .print-receipt {
        svg {
            fill: $primary;
        }
    }

    @media screen and (min-width: 576px) {
        .summary-product-img {
            max-width: 120px;
        }
    }
}
