.toast {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateY(80px) translateX(-50%);
    background-color: #fff;
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 1rem;
    display: flex;
    box-shadow: 0 6px 20px -9px rgba(0, 0, 0, 0.4);
    align-items: center;
    border: 1px solid #f2f2f2;
    color: #000 !important;
    z-index: 999;
    transition: transform .4s ease;
    &.toast-show{
        transform: translateY(0px) translateX(-50%);
    }

    .close {
        margin-left: 14px;
        cursor: pointer;
        height: 14px;
        line-height: 10px;
        color: currentColor;
        font-weight: 500;
        opacity: 1;
        text-shadow: none;
    }

}

@each $color, $value in $theme-colors {
    .toast-#{$color} {
        color: #fff !important;
        @include alert-variant(theme-color-level($color, $toast-bg-level), theme-color-level($color, $toast-border-level), theme-color-level($color, $toast-color-level));
    }
}
