.orderShipping-product {
    &:before {
        content: "";
        background-color: #f4f4f5;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 1rem);
        height: calc(100% + 2rem);
        margin-top: -1rem;
        border-radius: 0 0.25rem 0.25rem 0;
        z-index: 0;

        @media screen and (max-width: 768px) {

            left: -9px;
            width: calc(100% + 1rem + 6px);
            border-radius: 0.25rem 0.25rem 0 0;
        }

    }
}
